In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("new_m2test_biovars.xlsx", header=False)
df

,AL022,17.57931055849206,5.30429504968254,22.84872643244232,656.5785533552214,29.96,6.745161022580645,23.21483897741935,10.44718946328725,23.78390914605735,26.32455432885304,10.16253911167435,1084.30002262,294.77500773,3.67500001,89.79621559063281,582.47501118,46.2500016,62.02500356,495.77501173
0,AT124,11.866204,6.745591,26.583715,702.105564,24.302998,-1.071903,25.374901,20.820562,7.831853,20.820562,3.920147,619.000007,138.929997,16.110000,77.399951,331.619998,62.240001,331.619998,106.480004
1,AT127,14.304366,6.782100,26.136153,738.614454,27.227499,1.278387,25.949112,22.508669,9.867301,23.846975,5.647746,506.750009,104.725001,9.800000,71.547067,228.725006,55.050001,212.700005,96.625000
2,AT130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AT130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT213,10.130489,5.437633,20.515330,745.851172,22.550001,-3.955215,26.505216,17.370354,6.492807,19.801627,1.050962,814.950019,159.916670,11.966667,62.418446,329.216676,70.566669,286.700009,146.183340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,UKN07,12.317430,4.322916,23.915483,427.975250,21.486666,3.410860,18.075806,7.590802,12.432185,17.481422,7.590802,883.933359,112.733337,16.366667,47.964392,311.866676,148.666671,198.533338,311.866676
1195,UKN07,12.317430,4.322916,23.915483,427.975250,21.486666,3.410860,18.075806,7.590802,12.432185,17.481422,7.590802,883.933359,112.733337,16.366667,47.964392,311.866676,148.666671,198.533338,311.866676
1196,UKN0B,12.165224,4.513552,25.155176,415.534325,21.317999,3.375161,17.942838,7.585872,12.291182,17.187810,7.585872,939.680011,127.480001,21.540000,44.030302,317.020004,149.560002,207.660003,317.020004
1197,UKN0F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,UKN16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
new_test_df = df.replace(np.nan, -999)
new_test_df.to_ex

In [16]:
test_df = pd.read_excel("new_m2test_biovars.xlsx")

,region,Year,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,...,bio10,bio11,bio12,bio13,bio14,bio15,bio16,bio17,bio18,bio19
0,AL011,2006,12.935793,5.640080,20.724160,756.622020,26.675000,-0.540000,27.215000,7.973099,...,21.829621,3.750383,828.200013,127.125001,41.350000,38.252864,268.025003,142.800000,233.950005,197.350002
1,AL012,2006,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
2,AL013,2006,11.186246,5.796674,21.105862,762.385517,24.442500,-3.022258,27.464758,20.050672,...,20.050672,1.806371,885.575015,126.300001,47.675001,34.143148,278.225005,154.775003,278.225005,185.975004
3,AL014,2006,15.703191,5.545701,20.552095,771.213011,29.080000,2.096371,26.983629,10.616436,...,24.825571,6.373303,830.975017,144.400003,23.225001,46.062316,300.750003,128.925004,217.650007,204.000003
4,AL015,2006,14.084584,5.560498,20.573248,776.605742,27.250000,0.222193,27.027807,8.986460,...,23.263467,4.695669,956.320010,158.440001,34.740001,40.372573,335.840001,159.300003,262.740005,223.020000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27505,UKN0D,2021,12.488517,4.562132,24.167141,435.263630,22.210000,3.332581,18.877419,7.582160,...,17.790028,7.582160,813.050011,102.400003,12.100000,42.144042,275.050004,127.150003,199.250001,275.050004
27506,UKN0D,2021,12.488517,4.562132,24.167141,435.263630,22.210000,3.332581,18.877419,7.582160,...,17.790028,7.582160,813.050011,102.400003,12.100000,42.144042,275.050004,127.150003,199.250001,275.050004
27507,UKN0E,2021,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
27508,UKN0F,2021,12.101932,4.471136,24.628232,422.922282,21.404999,3.250484,18.154515,7.342691,...,17.213114,7.342691,921.250018,113.000002,14.400000,41.231059,319.900006,148.450002,207.950006,319.900006
27509,UKN0G,2021,11.996758,4.724538,25.631974,413.317900,21.641668,3.209462,18.432206,15.406855,...,17.125556,7.560201,1199.416688,159.716670,32.633333,40.653377,383.800005,180.316672,282.400000,380.466674

In [15]:
new_test_df.to_excel("new_m2_biovars", index=False)

ValueError: No engine for filetype: ''